html {
    background-color: #060932;
}

h1 {
    font-size: 40px;
    font-style: bold;
    color: #AFCCB5;
}

h2 {
    font-size: 24px;
    font-style: bold;
    color: #060932
}

h3 {
    font-size: 16px;
    font-style: bold;
}

body{
    font-family: "Inter",sans-serif;
    font-weight: 500;
}